In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import yfinance as yf
from datetime import datetime
import os

In [76]:
def getBenchmarkData(bench):
    conn = sqlite3.connect('DatabaseVB1.db')
    engine = create_engine('sqlite:///DatabaseVB1.db')
    ticker = yf.Ticker(bench)
    df_benchmark = ticker.history(period = '10y')
    
    df_benchmark.reset_index(inplace = True)
    df_benchmark.rename(columns = {'Date':'Datum', 'Close': 'Eind Waarde'}, inplace = True)
    df_benchmark['Start Waarde'] = df_benchmark['Eind Waarde'].shift(1)
    df_benchmark['Benchmark Dag Rendement'] = ((df_benchmark['Eind Waarde'] - df_benchmark['Start Waarde']) / df_benchmark['Start Waarde']).round(5)

    df_benchmark.to_sql(f'{bench}', if_exists = 'replace', con = conn)

    df = pd.read_sql(f'''
        SELECT substr(Datum, 1, 10) as "Datum", "Start Waarde" FROM "{bench}"
    ''', con = engine).set_index("Datum")
    return df

In [77]:
getBenchmarkData("INGA.AS")

c:\users\ismet\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\generic.py:2602: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

            Start Waarde
Datum
2010-09-27           NaN
2010-09-28          5.62
2010-09-29          5.61
2010-09-30          5.55
2010-10-01          5.48
...                  ...
2020-09-21          6.79
2020-09-22          5.99
2020-09-23          5.94
2020-09-24          5.87
2020-09-25          5.94

[2556 rows x 1 columns]

In [10]:
tradereconhead = ['RekNr', 'Unnamed: 1', 'Valuta', 'Datum', 'Tijdstip', 'Unnamed: 5',
       'Type', 'Unnamed: 7', 'Unnamed: 8', 'Aantal', 'Per aandeel', 'Bedrag',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'ISIN', 'Symbool', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Omschrijving', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Omschrijving overzicht', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
        'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41']
df = pd.read_csv('./Input/Traderecon/Traderecon_V4 Balans Vermogensbeheer-83.csv', names = tradereconhead, delimiter = ';', decimal = ',', parse_dates = True)
# df.to_sql('Posrecon', if_exists = "append", con = conn)
# os.rename(posdirectory+'/'+file , './Archive/'+file)
df

,RekNr,Unnamed: 1,Valuta,Datum,Tijdstip,Unnamed: 5,Type,Unnamed: 7,Unnamed: 8,Aantal,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,295528,100,EUR,2020-02-02,0:00:00,J,TOEK,1.0,EUR,2040.00,...,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
1,295528,100,EUR,2020-02-10,0:00:00,J,UITK,1.0,EUR,-2040.00,...,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
2,295528,1000,EUR,2020-02-10,0:00:00,J,UITK,1.0,EUR,105.47,...,0,0,0,0,2,NaN,NaN,NaN,NaN,NaN
3,295553,100,EUR,2020-02-02,0:00:00,J,TOEK,1.0,EUR,1090.00,...,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
4,295553,1000,EUR,2020-02-10,0:00:00,J,UITK,1.0,EUR,56.35,...,0,0,0,0,2,NaN,NaN,NaN,NaN,NaN
5,295553,100,EUR,2020-02-10,0:00:00,J,UITK,1.0,EUR,-1090.00,...,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
6,295591,100,EUR,2020-02-02,0:00:00,J,TOEK,1.0,EUR,872.00,...,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
7,295591,100,EUR,2020-02-10,0:00:00,J,UITK,1.0,EUR,-872.00,...,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
8,295591,1000,EUR,2020-02-10,0:00:00,J,UITK,1.0,EUR,45.08,...,0,0,0,0,2,NaN,NaN,NaN,NaN,NaN
9,295661,1000,EUR,2020-02-10,11:20:25,J,O-G,1.0,EUR,50000.00,...,0,0,5026,0,6,NaN,NaN,NaN,NaN,NaN
10,295661,1000,EUR,2020-02-10,9:15:19,J,O-G,1.0,EUR,240000.00,...,0,0,5026,0,6,NaN,NaN,NaN,NaN,NaN