In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import yfinance as yf
from datetime import datetime
import os

In [76]:
def getBenchmarkData(bench):
    conn = sqlite3.connect('DatabaseVB1.db')
    engine = create_engine('sqlite:///DatabaseVB1.db')
    ticker = yf.Ticker(bench)
    df_benchmark = ticker.history(period = '10y')
    
    df_benchmark.reset_index(inplace = True)
    df_benchmark.rename(columns = {'Date':'Datum', 'Close': 'Eind Waarde'}, inplace = True)
    df_benchmark['Start Waarde'] = df_benchmark['Eind Waarde'].shift(1)
    df_benchmark['Benchmark Dag Rendement'] = ((df_benchmark['Eind Waarde'] - df_benchmark['Start Waarde']) / df_benchmark['Start Waarde']).round(5)

    df_benchmark.to_sql(f'{bench}', if_exists = 'replace', con = conn)

    df = pd.read_sql(f'''
        SELECT substr(Datum, 1, 10) as "Datum", "Start Waarde" FROM "{bench}"
    ''', con = engine).set_index("Datum")
    return df

In [77]:
getBenchmarkData("INGA.AS")

c:\users\ismet\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\generic.py:2602: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

            Start Waarde
Datum
2010-09-27           NaN
2010-09-28          5.62
2010-09-29          5.61
2010-09-30          5.55
2010-10-01          5.48
...                  ...
2020-09-21          6.79
2020-09-22          5.99
2020-09-23          5.94
2020-09-24          5.87
2020-09-25          5.94

[2556 rows x 1 columns]