In [62]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import yfinance as yf
from datetime import datetime
import os

In [88]:
def GetRendement(x):
    #conn = sqlite3.connect('DatabaseVB.db')
    engine = create_engine('sqlite:///DatabaseVB.db')
    
    df_posrecon = pd.read_sql(f''' SELECT "Datum", round(sum("Waarde EUR"),2) as "Eind Waarde" 
                      FROM "Posrecon" where "RekNr" = "{x}" group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    ### LEES UIT DE DATABASE DE SOM VAN DE ONTTREKKINGEN / OVERBOEKINGEN / LICHTINGEN / STORTINGEN VOOR REKNR X
    df_onttrekking = pd.read_sql(f''' Select Datum, sum("Aantal") as "Onttrekkingen" from Traderecon
                       where "RekNr" = "{x}" and ("Unnamed: 34" = 5025 OR "Unnamed: 34" = 5000) group by "Datum" ''', con = engine).set_index('Datum')
    

    df_stortingen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Stortingen" from Traderecon
                       where "RekNr" = "{x}"  and "Unnamed: 34" = 5026 group by "Datum" ''', con = engine).set_index('Datum')

    df_lichtingen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Lichtingen" from Traderecon
                        where "RekNr" = "{x}" and "Type" = "L" group by "Datum" ''', con = engine).set_index('Datum')
    # df_lichtingen = pd.read_sql(f''' 
    #                     Select "Datum", sum("Unnamed: 31")*1.0 as Lichtingen from traderecon
    #                     where "RekNr" = {x}
    #                     and "Type" = "O"
    #                     and "Unnamed: 31" < 0
    #                     group by "Datum"
    #                     order by "Datum";
    #     ''')
    df_deponeringen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Deponeringen" from Traderecon
                        where "RekNr" = "{x}" and "Type" = "D" group by "Datum" ''', con = engine).set_index('Datum')
    # Nieuwe formule onttrekkingen
    # df_deponeringen = pd.read_sql(f''' 
    #                     Select "Datum", sum("Unnamed: 31") as Deponeringen from traderecon
    #                     where "RekNr" = {x}
    #                     and "Type" = "O"
    #                     and "Unnamed: 31" > 0
    #                     group by "Datum"
    #                     order by "Datum";
    #     ''')
    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data)
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='left')
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen', 'Stortingen', 'Lichtingen', 'Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)
    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] - df_final['Onttrekkingen']).round(5)
    df_final['EW Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()
    df_final['SW Portfolio Cumulatief Rendement'] = df_final['EW Portfolio Cumulatief Rendement'].shift(1)
    #df_final['Eind Waarde'] =  pd.to_numeric(df_final['Eind Waarde'], downcast = 'float')
    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'SW Portfolio Cumulatief Rendement', 'EW Portfolio Cumulatief Rendement']
    
    return df_final[columns]


# Overview portefeuille Ontwikkeling
def GetOverview(data, kwartaals): 
    startwaarde, stortingen, deponeringen, onttrekkingen, lichtingen,eindwaarde = [],[],[],[],[],[]
    for kwartaal in kwartaals:
        startwaarde.append(data.loc[periode[kwartaal]['start'],['Start Waarde']][0])
        stortingen.append((data.loc[periode[kwartaal]['start']:periode[kwartaal]['end'],['Stortingen']]).sum()[0])
        deponeringen.append((data.loc[periode[kwartaal]['start']:periode[kwartaal]['end'],['Deponeringen']]).sum()[0])
        onttrekkingen.append((data.loc[periode[kwartaal]['start']:periode[kwartaal]['end'],['Onttrekkingen']]).sum()[0])
        lichtingen.append((data.loc[periode[kwartaal]['start']:periode[kwartaal]['end'],['Lichtingen']]).sum()[0])
        eindwaarde.append(data.loc[periode[kwartaal]['end'],['Eind Waarde']][0])
    overview = list(zip(startwaarde, stortingen, deponeringen, onttrekkingen, lichtingen, eindwaarde))
    
    df = pd.DataFrame(overview, 
           columns=["Start Waarde","Stortingen","Deponeringen","Onttrekkingen","Lichtingen","Eind Waarde"], index = kwartaals)
    df['Abs Rendement'] = df['Eind Waarde'] - df['Start Waarde'] - df['Stortingen'] - df['Deponeringen'] + df['Onttrekkingen'] + df['Lichtingen']
    df['Rendement'] = (df['Eind Waarde'] - df['Start Waarde']) / df['Start Waarde']
    return df

In [98]:
def ZoekPortfOntwikkeling(data, start_datum, eind_datum):
    
    sd = start_datum
    ed = eind_datum

    df = data.loc[sd:ed]
    portf_startwaarde = df.loc[sd,['Start Waarde']][0]
    portf_stortingen = df.loc[sd:ed,['Stortingen']].sum()[0]
    portf_deponeringen = df.loc[sd:ed,['Deponeringen']].sum()[0]
    portf_onttrekkingen = df.loc[sd:ed,['Onttrekkingen']].sum()[0]
    portf_lichtingen = df.loc[sd:ed,['Lichtingen']].sum()[0]
    portf_eindwaarde = df.loc[ed,['Eind Waarde']][0]
    startcumrendement = df.loc[start,['SW Portfolio Cumulatief Rendement']][0]
    eindcumrendement = df.loc[end,['EW Portfolio Cumulatief Rendement']][0]
    
    overview = [portf_startwaarde, portf_stortingen, portf_deponeringen, portf_onttrekkingen, portf_lichtingen, 
               portf_eindwaarde, startcumrendement, eindcumrendement]

    df_final = pd.DataFrame([overview], columns = ['Start Waarde', 'Stortingen', 'Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Start Cum Rendement', 'Eind Cum Rendement'])
    df_final['Abs Rendement'] = df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen']
    df_final['Rendement'] = (df_final['Eind Waarde'] - df_final['Start Waarde']) / df_final['Start Waarde']
    df_final['Cumulatief Rendement'] = (df_final['Eind Cum Rendement'] - df_final['Start Cum Rendement']) / df_final['Start Cum Rendement']
    return df_final

In [105]:
rek = GetRendement(503)

In [106]:
rek

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Dag Rendement,SW Portfolio Cumulatief Rendement,EW Portfolio Cumulatief Rendement
Datum,,,,,,,,,
05-01-2020,NaN,0.0,0.0,0.0,0.0,301328.33,NaN,NaN,NaN
06-01-2020,301328.33,0.0,0.0,0.0,0.0,322609.91,0.070626,NaN,1.070626
07-01-2020,322609.91,0.0,0.0,20400.0,0.0,112167.51,-0.628842,1.070626,0.397371
08-01-2020,112167.51,0.0,0.0,0.0,0.0,456513.91,3.069930,0.397371,1.617272

In [107]:
start = '07-01-2020'
end = '07-01-2020'

In [108]:
test = ZoekPortfOntwikkeling(rek, start, end)

In [109]:
test

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Start Cum Rendement,Eind Cum Rendement,Abs Rendement,Rendement,Cumulatief Rendement
0,322609.91,0.0,0.0,20400.0,0.0,112167.51,1.070626,0.397371,-190042.4,-0.652312,-0.628842