In [3]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import yfinance as yf
from datetime import datetime
import os

In [137]:
def GetRendement(x):
    #conn = sqlite3.connect('DatabaseVB.db')
    engine = create_engine('sqlite:///DatabaseVB.db')
    
    df_posrecon = pd.read_sql(f''' SELECT "Datum", round(sum("Waarde EUR"),2) as "Eind Waarde" 
                      FROM "Posrecon" where "RekNr" = "{x}" group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    ### LEES UIT DE DATABASE DE SOM VAN DE ONTTREKKINGEN / OVERBOEKINGEN / LICHTINGEN / STORTINGEN VOOR REKNR X
    df_onttrekking = pd.read_sql(f''' Select Datum, sum("Aantal") as "Onttrekkingen" from Traderecon
                       where "RekNr" = "{x}" and ("Unnamed: 34" = 5025 OR "Unnamed: 34" = 5000) group by "Datum" ''', con = engine).set_index('Datum')
    

    df_stortingen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Stortingen" from Traderecon
                       where "RekNr" = "{x}"  and "Unnamed: 34" = 5026 group by "Datum" ''', con = engine).set_index('Datum')

    df_lichtingen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Lichtingen" from Traderecon
                        where "RekNr" = "{x}" and "Type" = "L" group by "Datum" ''', con = engine).set_index('Datum')
    # df_lichtingen = pd.read_sql(f''' 
    #                     Select "Datum", sum("Unnamed: 31")*1.0 as Lichtingen from traderecon
    #                     where "RekNr" = {x}
    #                     and "Type" = "O"
    #                     and "Unnamed: 31" < 0
    #                     group by "Datum"
    #                     order by "Datum";
    #     ''')
    df_deponeringen = pd.read_sql(f''' Select Datum, sum("Aantal") as "Deponeringen" from Traderecon
                        where "RekNr" = "{x}" and "Type" = "D" group by "Datum" ''', con = engine).set_index('Datum')
    # Nieuwe formule deponeringen
    # df_deponeringen = pd.read_sql(f''' 
    #                     Select "Datum", sum("Unnamed: 31") as Deponeringen from traderecon
    #                     where "RekNr" = {x}
    #                     and "Type" = "O"
    #                     and "Unnamed: 31" > 0
    #                     group by "Datum"
    #                     order by "Datum";
    #     ''')

    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data)
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='outer') # left vervangen met outer
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen', 'Stortingen', 'Lichtingen', 'Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    # start waarde is de eind waarde van de vorige dag
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)

    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] - df_final['Onttrekkingen']).round(5)
    df_final['Dag Rendement'] = df_final['Dag Rendement'].fillna(0)
    df_final['EW Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()

    df_final['SW Portfolio Cumulatief Rendement'] = df_final['EW Portfolio Cumulatief Rendement'].shift(1)
    #df_final['Eind Waarde'] =  pd.to_numeric(df_final['Eind Waarde'], downcast = 'float')
    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'SW Portfolio Cumulatief Rendement', 'EW Portfolio Cumulatief Rendement']
    
    return df_final[columns]

In [138]:
df = GetRendement(503)

In [150]:
def getBenchmarkData(bench):
    conn = sqlite3.connect('DatabaseVB.db')
    engine = create_engine('sqlite:///DatabaseVB.db')
    
    ticker = yf.Ticker(bench)
    df_benchmark = ticker.history(period = '10y')
    
    df_benchmark.reset_index(inplace = True)
    df_benchmark.rename(columns = {'Date':'Datum', 'Close': 'Benchmark Eind Waarde'}, inplace = True)
#     df_benchmark['Benchmark Start Waarde'] = df_benchmark['Benchmark Eind Waarde'].shift(1)
#     df_benchmark['Benchmark Dag Rendement'] = ((df_benchmark['Benchmark Eind Waarde'] - df_benchmark['Benchmark Start Waarde']) / df_benchmark['Benchmark Start Waarde']).round(5)
#     df_benchmark['Benchmark Dag Rendement'] = df_benchmark['Benchmark Dag Rendement'].fillna(0)
    df_benchmark.to_sql(f'{bench}', if_exists = 'replace', con = conn)

    df = pd.read_sql(f'''
        SELECT substr(Datum, 1, 10) as "Datum", "Benchmark Eind Waarde" FROM "{bench}"
    ''', con = engine).set_index("Datum")
    return df

In [151]:
ing = getBenchmarkData("INGA.AS")

c:\users\ismet\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\generic.py:2602: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [152]:
ing

            Benchmark Eind Waarde
Datum
2010-10-11                   5.63
2010-10-12                   5.53
2010-10-13                   5.72
2010-10-14                   5.77
2010-10-15                   5.75
...                           ...
2020-10-05                   6.30
2020-10-06                   6.61
2020-10-07                   6.58
2020-10-08                   6.69
2020-10-09                   6.69

[2556 rows x 1 columns]

In [145]:
def ZoekBenchmarkOntwikkeling(df, bench, start_date, end_date):
    data = df.merge(bench, on='Datum', how='left')
    new_benchmark_df = data[start_date:end_date]
    new_benchmark_df['Benchmark Start Waarde'] = new_benchmark_df['Benchmark Eind Waarde'].shift(1)
    new_benchmark_df['Benchmark Dag Rendement'] = ((new_benchmark_df['Benchmark Eind Waarde'] - new_benchmark_df['Benchmark Start Waarde']) / new_benchmark_df['Benchmark Start Waarde']).round(5)
    bench_sw = new_benchmark_df.loc[start_date,['Benchmark Start Waarde']][0]
    bench_ew = new_benchmark_df.loc[end_date,['Benchmark Eind Waarde']][0]
    
    overview = [bench_sw, bench_ew]

    df = pd.DataFrame([overview], columns =['Benchmark Start Waarde', 'Benchmark Eind Waarde'])
    
    df['Abs Rendement'] = (bench_ew - bench_sw)
    
    df['Rendement'] = (bench_ew - bench_sw) / bench_sw
    
    return new_benchmark_df

In [146]:
ZoekBenchmarkOntwikkeling(df, ing, '2020-01-06', '2020-01-18')

,Start Waarde,Stortingen,Deponeringen,Onttrekkingen,Lichtingen,Eind Waarde,Dag Rendement,SW Portfolio Cumulatief Rendement,EW Portfolio Cumulatief Rendement,Benchmark Start Waarde,Benchmark Eind Waarde,Benchmark Dag Rendement
Datum,,,,,,,,,,,,
2020-01-06,NaN,0.0,0.0,0.0,0.0,322609.91,0.000000,NaN,1.000000,10.03,9.95,-0.00798
2020-01-07,322609.91,0.0,0.0,20400.0,0.0,111032.19,-0.632599,1.000000,0.367401,9.95,10.01,0.00603
2020-01-08,111032.19,0.0,0.0,0.0,0.0,758977.56,5.835653,0.367401,2.511425,10.01,10.15,0.01399
2020-01-09,758977.56,0.0,0.0,0.0,0.0,330953.48,-0.563948,2.511425,1.095111,10.15,10.09,-0.00591
2020-01-10,330953.48,0.0,0.0,0.0,0.0,726965.00,1.196578,1.095111,2.405497,10.09,9.94,-0.01487
2020-01-11,726965.00,0.0,0.0,0.0,0.0,380062.24,-0.477193,2.405497,1.257610,NaN,NaN,NaN
2020-01-12,380062.24,0.0,0.0,0.0,0.0,281338.66,-0.259756,1.257610,0.930938,NaN,NaN,NaN
2020-01-13,281338.66,0.0,0.0,0.0,0.0,301050.11,0.070063,0.930938,0.996162,9.94,9.83,-0.01107
2020-01-14,301050.11,0.0,0.0,0.0,0.0,1317444.95,3.376165,0.996162,4.359370,9.83,9.86,0.00305
2020-01-15,1317444.95,0.0,0.0,0.0,0.0,555632.13,-0.578250,4.359370,1.838564,9.86,9.69,-0.01724
2020-01-16,555632.13,0.0,0.0,0.0,0.0,473968.54,-0.146974,1.838564,1.568342,9.69,9.73,0.00413
2020-01-18,473968.54,0.0,5000.0,0.0,0.0,NaN,0.000000,1.568342,1.568342,NaN,NaN,NaN